<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Tienda de Libros-Inicio</title>
  </head>
  <body>
    <header class="header">
      <h1>BookStore</h1>
      <nav>
        <ul class="enlaces">
          <li><a href="{% url 'inicio'%}">Inicio</a></li>
          <li><a href="{% url 'book'%}">Libro</a></li>
          <li><a href="{% url 'author'%}">Autor</a></li>
          <li><a href="{% url 'journal'%}">Revista</a></li>
          <li><a href="{% url 'publication'%}">Publicacion</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block contentViews %} {% endblock%}</main>

    <footer>
      <h3>footer</h3>
    </footer>
  </body>
</html>
